@inherits Zonit.SDK.Website.PageBase
@rendermode InteractiveServer
@inject ISnackbar Snackbar

<HeadContent>
    <title>@Culture.Translate("Counter")</title>
</HeadContent>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid Spacing="4">
        <MudItem xs="12">
            <MudText Typo="Typo.h1" GutterBottom="true">@Culture.Translate("Counter Management")</MudText>
            <MudCard>
                <MudCardContent>
                    <p role="status">Current count: @currentCount</p>

                    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => Snackbar.Add("Simple Snackbar"))">
                        Open Snackbar
                    </MudButton>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}