@inherits Zonit.SDK.Website.PageComponent

<HeadContent>
    <title>@Culture.Translate("Home")</title>
</HeadContent>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid Spacing="4">
        <MudItem xs="12">
            <MudText Typo="Typo.h6" GutterBottom="true">@Culture.Translate("Home")</MudText>
            <MudCard>
                <MudCardContent>
                    <MudText>@Culture.Translate("Example text")</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>