@page "/errors/401"
@layout MinimalLayout
@inherits PageBase

@attribute [AllowAnonymous]

<HeadContent>
    <title>@Culture.Translate("Unauthorized")</title>
</HeadContent>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-6">
        <MudText Align="Align.Center" Typo="Typo.h1" Class="mb-3">@Culture.Translate("Unauthorized")</MudText>
        <MudText Align="Align.Center" Class="mb-3">@Culture.Translate("You are not authorized to access this resource.")</MudText>
        <MudText Align="Align.Center">
            <MudLink Href="javascript:history.back()">@Culture.Translate("Back to previous page")</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>