@page "/errors/401"
@layout ErrorLayout
@inject ICultureProvider Culture

@attribute [AllowAnonymous]

<HeadContent>
    <title>@Culture.Translate("Unauthorized")</title>
</HeadContent>

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">@Culture.Translate("Unauthorized")</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudText Class="mb-2">@Culture.Translate("You are not authorized to access this resource.")</MudText>
        <MudLink Href="javascript:history.back()">@Culture.Translate("Back to previous page")</MudLink>
    </MudCardContent>
</MudCard>