@page "/errors/404"
@layout MinimalLayout
@inject ICultureProvider Culture

@attribute [AllowAnonymous]

<HeadContent>
    <title>@Culture.Translate("Not Found")</title>
</HeadContent>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-6">
        <MudText Align="Align.Center" Typo="Typo.h1" Class="mb-3">@Culture.Translate("Not Found")</MudText>
        <MudText Align="Align.Center" Class="mb-3">@Culture.Translate("The requested resource could not be found.")</MudText>
        <MudText Align="Align.Center">
            <MudLink Href="javascript:history.back()">@Culture.Translate("Back to previous page")</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>