@page "/errors/404"
@layout ErrorLayout
@inject ICultureProvider Culture

@attribute [AllowAnonymous]

<HeadContent>
    <title>@Culture.Translate("Not Found")</title>
</HeadContent>

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">@Culture.Translate("Not Found")</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudText Class="mb-2">@Culture.Translate("The requested resource could not be found.")</MudText>
        <MudLink Href="javascript:history.back()">@Culture.Translate("Back to previous page")</MudLink>
    </MudCardContent>
</MudCard>