@page "/errors/500"
@layout MinimalLayout
@inherits PageBase

@attribute [AllowAnonymous]

<HeadContent>
    <title>@Culture.Translate("Internal Server Error")</title>
</HeadContent>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-6">
        <MudText Align="Align.Center" Typo="Typo.h1" Class="mb-3">@Culture.Translate("Internal Server Error")</MudText>
        <MudText Align="Align.Center" Class="mb-3">@Culture.Translate("There was an internal server error.")</MudText>
        <MudText Align="Align.Center">
            <MudLink Href="javascript:history.back()">@Culture.Translate("Back to previous page")</MudLink>
        </MudText>
    </MudPaper>
</MudContainer>